.league {
    background: #1C2227;
    border-radius: 8px;
    width: 932px;

    border: 3px solid #818181;
}
.leagueName {
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    /* or 24px */

    uppercase: true;

    color: #FFFFFF;
}
.flag {
    width: 26px;
    height: 18px;
}

.button {
    fill: #FFFFFF;
}

.button:hover {
    fill: #EAEAEB;
}