.lupa {
    border-radius: 8px 0px 0px 8px;
    background: #4E5259;
}

.divec {
    height: 38px;
}

.divec:hover,
.divec:hover .inputBackground,
.divec:hover .vyhledatPlaceholder,
.divec .inputBackground:focus,
.divec .vyhledatPlaceholder:focus {
    height: 46px;
}

.inputBackground {
    background: #4E5259;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #A8AAAD;
    width: 701px;
    height: 38px;
}

.inputBackground:hover
{
    background: #4E5259;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #A8AAAD;
    width: 701px;
    height: 46px;
}
.inputBackground:hover:focus {
    background: #4E5259;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    width: 701px;
    height: 46px;
}

.inputBackground:focus {
    background: #4E5259;
    outline: none;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    width: 701px;
    height: 46px;
}

.vyhledatPlaceholder {
    background: #2A2F37;
    border-radius: 0px 8px 8px 0px;
    width: 151px;
    height: 38px;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
}

.vyhledatPlaceholder:hover {
    background: #2A2F37;
    border-radius: 0px 8px 8px 0px;
    width: 151px;
    height: 46px;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #D3FC01;
}

.vyhledatPlaceholder:focus {
    background: #D3FC01;
    border-radius: 0px 8px 8px 0px;
    width: 151px;
    height: 46px;
    font-family: 'AktivGrotesk-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}
