/* Styly pro navigační lištu */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2A2F37;
    padding: 1rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo h1 {
    font-size: 1.5rem;
}

nav input[type="text"] {
    margin-right: 1rem;
}

nav button {
    margin-left: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo {
    width: 50px;
    height: 50px;
}

.logo span{
    display: block;
    width: 50px;
    height: 50px;
}

.navbar-logo {
    background-image: url("../../assets/AppLogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button{
    margin-left: 20px;
}

.button:hover{
    box-shadow: #D3FC01 0px 1px 2px;
}

nav input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #4E5259;
    width: 35rem;
}

nav input[type="text"] {
    color: white;
}

.button{
    padding: 9px 25px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
}

.registrace{
    border: 1px solid #D3FC01;
}

.prihlaseni{
    background-color: #D3FC01;
    color: #1C2227;
    border: none;
}